openapi: 3.0.0
info:
  title: Amazon Textract Async Operations API
  description: Amazon Textract is a machine learning service that automatically extracts text, handwriting, and data from scanned documents, going beyond simple OCR to identify and extract data from forms and tables.
  version: '2018-06-27'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
    url: https://aws.amazon.com/textract/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://textract.amazonaws.com
  description: Amazon Textract API endpoint
tags:
- name: Async Operations
  description: Operations for asynchronous document processing.
paths:
  /#StartDocumentTextDetection:
    post:
      operationId: StartDocumentTextDetection
      summary: Amazon Textract Start Document Text Detection
      description: Starts the asynchronous detection of text in a document stored in an Amazon S3 bucket.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
              properties:
                DocumentLocation:
                  type: object
                  description: The location of the document to be processed.
                  properties:
                    S3Object:
                      type: object
                      properties:
                        Bucket:
                          type: string
                        Name:
                          type: string
                        Version:
                          type: string
                ClientRequestToken:
                  type: string
                JobTag:
                  type: string
                NotificationChannel:
                  type: object
                  properties:
                    SNSTopicArn:
                      type: string
                    RoleArn:
                      type: string
              required:
              - DocumentLocation
      responses:
        '200':
          description: Asynchronous job started successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  JobId:
                    type: string
      tags:
      - Async Operations
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /#GetDocumentTextDetection:
    post:
      operationId: GetDocumentTextDetection
      summary: Amazon Textract Get Document Text Detection
      description: Gets the results for an Amazon Textract asynchronous operation that detects text in a document.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.1:
            schema:
              type: object
              properties:
                JobId:
                  type: string
                  description: A unique identifier for the text detection job.
                MaxResults:
                  type: integer
                NextToken:
                  type: string
              required:
              - JobId
      responses:
        '200':
          description: Text detection results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  DocumentMetadata:
                    type: object
                    properties:
                      Pages:
                        type: integer
                  JobStatus:
                    type: string
                    enum:
                    - IN_PROGRESS
                    - SUCCEEDED
                    - FAILED
                    - PARTIAL_SUCCESS
                  Blocks:
                    type: array
                    items:
                      type: object
                  NextToken:
                    type: string
      tags:
      - Async Operations
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
